#config_version=5

coils:
 # 0-0: Left Slingshot
 # 0-1: Right Slingshot
 # 0-2: Drain eject
 # 0-3: Right Pop Bumper
 # 0-4: Left Vari-Target Release
 # 0-5: Left Pop Bumper
 # 0-6: Center Pop Bumper
 # 0-7: Right Vari-Target Release
 # 1-0: Right Flipper Main
 # 1-1: Right Flipper Hold
 # 1-2: Left Flipper Main
 # 1-3: Left Flipper Hold
 # Hex: Coil:
 # 0B   Left Flipper hold
 # 0A   Left Flipper main
 # 09   Right Flipper hold
 # 08   Right Flipper main
 # 07   Center Pop Bumper
 # 06   Left Pop Bumper
 # 05   Right Varitarget Release
 # 04   Left Varitarget Release
 # 03   Right Pop Bumper
 # 02   Drain Kicker
 # 01   Right Slingshot
 # 00   Left Slingshot
  c_drain_eject:
    number: 0-2
    max_pulse_ms: 20
    default_pulse_power: 0.53
    allow_enable: true
  c_flipper_left_main:
    number: 1-2
    default_pulse_power: 0.7
    allow_enable: true
  c_flipper_left_hold:
    number: 1-3
    allow_enable: true
  c_flipper_right_main:
    number: 1-0
    allow_enable: true
    default_pulse_power: 0.7
  c_flipper_right_hold:
    number: 1-1
    allow_enable: true
  c_left_slingshot:
    number: 0-0
    default_pulse_power: 0.7
    allow_enable: true
  c_right_slingshot:
    number: 0-1
    allow_enable: true
    default_pulse_power: 0.7
  c_left_pop_bumper:
    number: 0-6
    allow_enable: true
  c_right_pop_bumper:
    number: 0-3
    allow_enable: true
  c_left_varitarget_release:
    number: 0-4
    pulse_events: reset_left_varitarget
    default_pulse_ms: 150ms
  c_right_varitarget_release:
    number: 0-5
    pulse_events: reset_right_varitarget
    default_pulse_ms: 150ms
  c_center_pop_bumper:
    number: 0-7
    allow_enable: true