#config_version=5

hardware:
  platform: fast
  driverboards: fast
  rgb_dmd: smartmatrix

smartmatrix:
  smartmatrix_1:
    port: "/dev/ttyUSB4"
    baud: 3000000
    old_cookie: false

displays:
  window:
    width: 600
    height: 200
  dmd:
    width: 128
    height: 32
    default: true

window:
  width: 600
  height: 200
  title: Mission Pinball Framework vDMD

rgb_dmds:
  smartmatrix_1:
    hardware_brightness: 0.3
    fps: 24
    source_display: dmd  

fast:
  ports: /dev/ttyUSB1, /dev/ttyUSB2
  debug: True

config:
- machine-config.yaml

event_player:
  game_started: reset_left_varitarget, reset_right_varitarget
  game_ending: reset_left_varitarget, reset_right_varitarget
