#config_version=5

game:
  balls_per_game: 5

machine:
  balls_installed: 1
  min_balls: 1

config:
 - coils.yaml
 - devices.yaml
 - lights.yaml
 - switches.yaml
 - virtual.yaml

playfields:
  playfield:
    default_source_device: bd_drain
    tags: default

modes:
  - base
  - score_display
  - l_varitarget
  - r_varitarget
  - ones_lit
  - twos_lit
  - threes_lit